<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="w3.css">
  </head>
<body>
   <div>
 <input type="button" value="Przycisk zmiany koloru tła na zielony" onclick="kolor('green');">
<input type="button" value="Przycisk zmiany koloru tła na biały" onclick="kolor('white');">
</div>
  <div id="main">
    <h1>{{ title }}</h1>
    <ul id="example-1">
      <li v-for="item in items" v-on:click="seen = !seen"> {{ item }} </li>
    </ul>
  </div>
  <div id="main">
     <transition name="fade">
  <span v-if="seen">Now you see me</span>
    </transition>
</div>
</body>
<script> 
function kolor(kolor)
{
document.bgColor=kolor;
}
  document.addEventListener("DOMContentLoaded", 
    ()=> {
      new Vue({
        el: '#main',
        data: {
          title: 'Tytuł',
          items: [
            "raz",
            "dwa",
            "trzy"
          ],
          seen: false
        }
      })
    }
  )
</script>
</html>
