div {
    text-align: justify;
}
body {
    transition: background-color 2s;
    margin: 0px;
    padding: 0px;
    margin: 2rem 0;
}

ul {
  list-style: none;
}

.menu {
    display: flex;

    &__item {
        position: relative;
        padding-right: 3rem;

        &--dropdown {}
    }

    &__link {
        //color: $menu_link_color;
        text-transform: uppercase;

        &:hover {
            //color: $menu_link_hover_color;
        }

        &--toggle {}
    }

    &__icon {
        margin: 0 !important;
    }
}

.open .dropdown-menu {
    display: block;
}

.dropdown-menu {
    font-size: 0.9rem;
    position: absolute;
    min-width: 130px;
    top: 2.2rem;
    display: none;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.dropdown-menu__item:first-child .dropdown-menu__link {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-menu__item:last-child .dropdown-menu__link {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-menu__link {
    display: block;

    padding: 1rem;
    color: blue;
    background-color: #fafafa;

    &:hover {
        color: green;
        background-color: #ccc;
    }
}
#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    margin: 20px;
    background: rgba(0, 0, 0, 0);
    color: #000000;
    width: 100%;
    padding: 0px;
}
.button {
    background-color: #555555; /* Gray */
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button1 {
    background-color: #555555; /* Gray */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
